.main{
    /* width: auto;
    height: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    margin-bottom: 20px;
    z-index:            1;
    position: sticky;
    top: 0px;
   
    
}
.navbarcenter{
    height: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
   
       
}
.SearchSection{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    
}
.Sub{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 90%;
    gap: 20px;
    /* background-color: black; */
    height: auto;
}

.Serach{
    height: 50px;
    width: 70%;
    border-radius: 10px;
     
}
.button{
    background-color: blue;
}
.addpage_nav{
    width: 100%;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    background-color: red;
    align-items: center;

}

.addpage_center{
    height: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}
.Addmaincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
   
   
}
.AddContainer{
    /* width: 70%; */
    
    border: 3px solid gray;
    margin-top: 50px;
    height: auto;
    background-color: azure;
    /* box-shadow: 1px ; */
}
.textfileds{
    display: flex;
    justify-content: center;
}
.innertextfield{
    width: 60%;
    height: auto;  
}
.text{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    
}
.name,.time,.date,.desc{
    width: 100%;
    
}
.text1{
    margin-bottom: 20px;
}
.addbutton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.front_endmain{
    margin:40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-bottom: 20px */
}
.front_end{
    border: 1px solid gray;
    width: 300px;
    /* height: 200px; */
    border-radius: 20px;
}
.front_end1{
     margin-top: 20px;
}
.fname,.ftime,.fdate,.fdesc{
    margin-bottom: 20px;
    margin-left: 10px;
}
.fbutton{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.view_details{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
}
.detailsPrarentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
   
    
}
.smalldiv{
    margin-left: 7px;
    /* background-color: red; */
}
.temp_container{
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.detailschildcontainer{
      /* width:90%; */
    border: 3px solid gray;
    background-color: azure;
    border-radius: 20px;
    margin-top: 20px;
}
.viewname,.viewtime,.viewdate,.viewdesc{
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    /* color: blue; */
    
}
.viewdesc{
    margin-bottom: 20px;
    
}
.viewbutton{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.backicon{
    display: none;
}
.deleteicon{
    display: none;
}
.checkicon{
    display: none;
}
.mine{
    width: auto;
    height: auto;
    background-color: red;
}
.completednavbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    margin-bottom: 20px;
    z-index:            1;
    position: sticky;
    top: 0px;

}
.completednavbarcenter{
    height: 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}
.completedsearch{
    display: flex;
    justify-content: center;
}
.completedsearchbar{
    width: 70%;
}
.completedfrontendmain{
    margin:40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

}
.completedfrontend{
    border: 1px solid gray;
    width: 300px;
    border-radius: 20px;
}
.completedname,.completeddate,.completeddesc,.completedtime{
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 25px;
}
.completedButton{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}






@media screen and (max-width:690px) {
    /* .backicon{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .viewbutton{
        display: flex;
        justify-content: center;
        gap: 25px;
    }
    .backicon,.deleteicon,.checkicon{
        display: block;
        width: auto;
        height: auto;
        background-color: black;
        border-radius: 5px;
        color:white ;
        /* font-size: 50px; */
        
       
    }
    .mine{
        display: none;
        
    }
    
   
}
@media screen and (max-width:400px) {
    .detailschildcontainer{
        width: 90%; 
        /* display: ; */
    }
    .Addmaincontainer{
        width: ;
        

    }
    
}
